
#pokemon_header{
    height: 200px;
    display: flex;
    justify-content: center;
}


#poke_image{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pokemons{
    width: 300px;
}

#content_pokemon{
    border: 1px solid black;
    border-radius: 50px;
    margin: 30px;
}

#content_details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#infos_pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#image_pokemon_detail{
    width: 400px;
    height: 400px;
}
