#page_accueil{
    background-image: url(./images/background_blue.png);
    background-size: cover;
}


#pokemon_header{
    height: 200px;
    display: flex;
    justify-content: center;
}


#poke_image{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pokemons{
    width: 300px;
}

#content_pokemon{
    border: 1px solid black;
    border-radius: 50px;
    margin: 30px;
}

#content_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    background-image: url(./images/pokemon_card_template.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background-size: 450px;
    padding: 150px;
    position: relative;
}

#pokemon_nom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-titre{
    font-size: 40px;
}

#infos_pokemon{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


#image_pokemon_detail{
    width: 200px;
    height: 200px;
}





